VITE_APP_API_TRANSPORT=cloud
VITE_APP_API_BASE_URL=http://localhost:8191/api
VITE_APP_CLOUD_ENV=prod-d4ghi7vus72134bcc
VITE_APP_CLOUD_SERVICE=app-api-test002
VITE_APP_CLOUD_FILE_BASE_URL=https://your-cloud-container-domain.example.com
VITE_APP_CLOUD_STORAGE_PREFIX=grain-card-ocr
VITE_APP_GRAIN_STATION_ID=1
